  

@media (min-width: 992px) { 
    .section_two_div2{
        margin: 0 5rem;
    }
    
    .section_three_wrap{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    
    .section_three_wrap >:nth-child(2){
        padding-left: 3rem;
        padding-right: 3rem;
    }
    
    
    .section_seven_wrap_1 > h3{
    font-family: "Foundersmono";
    font-size: 18px;
    font-weight: 700;
    }
    
    .section_seven_wrap_1 > p{
        font-size: 14px;
        }


        /* section .section_eight_wrap */

        .section_eight_wrap .row_item{
            height: 80rem;
        }
        
    
     }