@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');    
    @font-face {
            font-family: "wayfinder";
            src: url("Font/Demo_Fonts/Fontspring-DEMO-wayfindercf-bold.otf")
            
            /* ("Demo_Fonts/Fontspring-DEMO-wayfindercf-bold.otf"); */
        }


        @font-face {
            font-family: "wayfinderextra";
            src: url("Font/Demo_Fonts/Fontspring-DEMO-wayfindercf-extrabold.otf")
            
        }


        @font-face {
            font-family: "Grotesk";
            src: url("Font/Grotesk/Grotesk.ttf")
            
        }

        
        @font-face {
            font-family: "FoundersBold";
            src: url("Font/Founders_Grotesk/FoundersGrotesk-Bold.otf")
        }

        @font-face {
            font-family: "Foundersmono";
            src: url("Font/Founders_Grotesk/FoundersGrotesk-Light.otf")
            
        }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;

}


.section_one{
    background-color: #f5ad2a;
}


.section_one_wrap{
    text-align: center;
}
.section_one_wrap > h1{

    text-align: center;
    font-size: 3.875rem;
    font-family: "wayfinder";

    
}


.sec_1_flex_itemTwo{
    display: none;
}

.sec_1_flex_itemOne > h3 {
    display: block;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
}

.sec_1_flex_itemTwo_btn{
    background-color: #007297;
    color: white;
    border-radius: 3.125rem;
    font-size: 120%;
    font-weight: 700;
    padding: 12px 40px;
    margin: 2rem 0;
}


.sec_3{
    display: none;
}



/* section 2 start here */


.section_two_flex_item{
    border:  2px dashed black;
    background-color: white;
    border-radius: 4px;
    padding: 1.875rem;
    text-align: center  ;
    margin-bottom: 3rem;
}

.section_two_flex_item >h5{
    font-family: "FoundersBold";
}


.section_two_flex_item > p{
    font-family: 'Work Sans', sans-serif;
}



.section_two_wrapper{
    padding-bottom: 4rem;
}

.section_two_wrapper > h3{
    font-weight: 700;
    text-align: center;
        font-family: "FoundersBold";
        margin-top: 2rem;
        padding: 0 0.5rem;
    
}


.section_two_wrapper > h3 >span:first-child{
        font-family: "FoundersBold";
}


.section_two_div2{
    text-align: center;
    background-color: #007297;
    color: white;
    padding: 2rem 2rem;
}

div.section_two_div2 > h6{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    letter-spacing:0.3rem;
}



 div.section_two_div2 > h3{

     font-size: 1.5rem;
     margin: 2rem 0;
     font-family: "FoundersBold";
     font-weight: 700;

 }
/* .section_two_flex */


/* section_three */

.section_three{
    background-color: #f5ad2a;
    text-align: center;
    padding: 1rem 1rem;
}

.section_three_wrap >:first-child{
    font-size: 1.125rem;
    margin-top: 2rem;
    font-family: "Foundersmono";

}

.section_three_wrap >:nth-child(2){
    margin-top: 2rem;
    font-family: "wayfinder";
    font-size: 4rem;
    padding: 2rem 0;
    
}

.section_three_wrap_last {
    font-size: 1rem;
    font-weight: 400;

}

/* section_four */

.section_four_wrapper{
    text-align: center;
    padding: 3rem 0;
}

.section_four_wrapper >:first-child{
    font-weight: 700;
font-size: 1.5rem;    
}

.section_four_flex_item{
    border: 2px dashed black;
    margin-top: 2rem;
    padding: 2rem 2rem;
    border-radius: 0.5rem;
}

.section_four_flex_item__{

    /* border: 2px dashed black; */
    margin-top: 2rem;
    padding: 2rem 2rem;
    border-radius: 0.5rem;
    background-color: #007297;
    color: white;
    font-size: 1.125rem;
    font-weight: 700;

}

.section_four_div2{
    padding: 2rem 1rem;
}


.section_four_div2 > h3{
    font-size: 1.2rem;
font-weight: 400;

}

.section_four_div2 > img {
    display: block;
    margin: auto;
    margin-top: 2rem;
}

.section_four_div2 > h6{
    font-size: 18px;
    font-weight: 700;
    font-family: "FoundersBold";
    font-style: italic;
}

.section_four_div2 > h5{
    font-size: 18px;
    font-weight: 700;
    font-family: "FoundersBold";

}


/* section_five */
.section_five{
    background-color: #f5ad2a;
    /* padding-bottom: 2rem; */
}

.section_five_wrap_flex_item_1{
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    text-align: center;
    margin-bottom: 2rem;
}


.section_five_wrap_flex_item_1 >h2{
    font-family: "wayfinder";
    font-size: 4rem;
    font-weight: 400;
}

.section_five_wrap_flex_item_2{
    display: none;
}

.section_five_wrap{
    padding: 3rem 0rem;
    text-align:center;

}

/* .section_five_wrap_flex_item_1 */

.section_five_wrap_flex_item_1 >h4 :first-child{
    margin-bottom: 1rem;
    font-family: "FoundersBold";
    /* Foundersmono */
}

.section_five_wrap_flex_item_1 >h4 :last-child{
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-weight: 400;
    font-family: "Foundersmono";
}



.section_five_wrap > h2{
    font-family: "wayfinder";
    font-size:4rem;
}

.section_five_wrap > h6{
    font-size:16px;
    font-family: "Foundersmono";
}

.section_five_wrap_sec2 > h1{
    font-family: "Foundersmono";
    font-weight: 400;
}

.section_five_wrap_sec2 >h6{
    font-family: "Foundersmono";
    font-size: 18px;

}


/* section 6 */

.section_six{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.section_six_Wrap{
    padding: 2rem 0rem ;
    text-align: center;


}

.section_six_Wrap > h3{
    font-family: "FoundersBold";
    padding-left: 2rem;
    padding-right: 1rem;
    font-weight: 700;
font-size: 24px;}

.section_six_Wrap_img{
    margin-top: 2rem;
}

/* section7 */
.section_seven{

background-color: #007297;
color: white;
padding-top:3rem;
text-align: center;
}

.section_seven_wrap_2{
    background-color: white;
    color: black;
    border-radius: 0.3rem;
    padding: 2rem 2rem;
    margin: 0 1rem;
}

.section_seven_wrap_1 > h3{
    font-family: "Foundersmono";

}

.section_seven_wrap_1 >:first-child{
    font-family: "Foundersmono";
    letter-spacing: 0.3rem;
}


.section_seven_wrap_1 >:nth-child(2){
    font-family: "wayfinder";
    font-size: 64px;

}

.section_seven_wrap_2 >h4{
    font-weight: 700;
    font-family: "Foundersmono";
}

.section_seven_wrap_2 > h5{
    text-decoration: line-through;
    font-family: "FoundersBold";
}


.section_seven_wrap_2 > h3{
    font-family: "FoundersBold";
    font-size: 24px;
    font-weight: 700;
}

.section_seven_wrap_2_btn {
    background-color:#f5ad2a;
    border-radius: 50px;
    border-color: #f5ad2a;
    font-weight: 700;
    text-align: center;
    padding: 1rem 2rem;

}

.section_seven_wrap_Sec2{
    margin-top: 2rem;
    padding-bottom: 3rem;
}

.section_seven_wrap_Sec2 > h6{
    font-size: 16px;
    font-family: "FoundersBold";
    letter-spacing:0.3em
}

.section_seven_wrap_Sec2 > p{
    font-size: 14px;
    padding: 0 2rem;
}


/* section_eight */


.section_eight{
    background-color: #f5ad2a;
    padding-top: 75px;
    padding-bottom: 100px;
}
.section_eight_wrap_sec1{
    text-align: center;
}

.section_eight_wrap_sec1 > h3{
font-size: 24px;
font-family: "FoundersBold";
padding: 0 2rem;
font-weight: 700;

}

.section_eight_wrap_sec1 > h5{
    font-size: 14px;
    }

    .row_item{
        background-color: white;
        color: black;
        padding: 2rem 2rem;
        margin-bottom: 2rem;
    }

    .row_item > :first-child{
        font-size: 16px;
        letter-spacing: .3em;
        text-align: center;
        
    }
    
.row_item > :nth-child(2){
        text-align: center;
        font-family: "wayfinder";
  font-size: 48px;      
  font-weight: bolder;
    }


        
.row_item > :nth-child(3){
    text-align: center;
    letter-spacing: .3em;


}

.row_item ul {
 
    margin-top: 2rem;
    font-size: 20px;
    
    }

.row_item ul >li {
margin-bottom: 2rem;
list-style-image: url(/images/check.svg);

}



.section_eight_wrap_sec3{
    text-align: center;
}

.section_eight_wrap_sec3 > h3{
    font-size: 24px;
    font-family: "FoundersBold";
    font-weight: 700;
}

.section_eight_wrap_sec3 a{
    background-color: #007297;
    text-decoration: none;
    color: white;
    display: block;
    border-radius: 3rem;
    margin-bottom: 2rem;

}
 


/* section nine  */

.section_nine{
    padding: 4rem 0rem;
    
}
.section_nine_sec1{
    text-align: center;
    font-family: "Foundersmono";
}

.section_nine_sec1 > :first-child{
    font-family: "FoundersBold";
    font-size: 24px;
    font-weight: 700;
    text-align: center;

}

.section_nine_wrap_inner1{
    text-align: center;
    margin-bottom: 2rem;
}

.section_nine_wrap_inner1 >:first-child{
    background-color: #eeeeee;
    padding: 0 1rem;
}


.section_nine_wrap_inner1 >:first-child{
    padding-bottom: 2rem;
    padding-top: 2rem;

}

.section_nine_wrap_inner1 > div >h2{

    font-family: "wayfinder";
    font-weight: 700;
    font-size: 64px;
    
}


.section_nine_wrap_inner1 > div >h4{

    font-family: "wayfinder";
    font-weight: 700;
    font-size: 18px;
}


.section_nine_wrap_inner1 > div >:last-child{

    font-family: "Foundersmono";
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 2rem;
}

.section_nine_wrap_inner1_img{
    display: none;
}




.section_nine_Sec3 >a{
    border-radius: 50px;
    background-color: #007297;
    color: white;
    font-family: "Foundersmono";
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    display: block;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}



/* section_ten */

.section_ten{
    background-color: #efefef;
    padding-top: 2rem;
}

.section_ten_wrap{
    text-align: center;
    padding-bottom: 3rem;
}

.section_ten_wrap > :first-child{
    font-weight: 700;
    font-size: 24px;
    font-family: "FoundersBold";
}

.section_ten_wrap > h5{
   font-size: 18px;
   margin-top: 1rem;
   font-weight: 400;
}

.section_ten_wrap_btn{
    border-radius: 50px;
    background-color: #007297;
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 2rem;

}


.section_eleven{
    background-color:#f5ad2a;
    padding-top: 3rem;
}


.section_eleven_wrap{
    padding-bottom: 5rem;
}

.section_eleven_wrap >h2{
    font-size: 64px;
    font-family: "wayfinder";
    text-align: center;
    padding: 0 1rem;
   
}

.section_eleven_wrap_item{
    background-color: white;
    padding: 1rem 1rem;
    margin-top: 2rem;

}

.section_eleven_wrap_item > img{
    margin: auto;
    display: block;
}

.section_eleven_wrap_item >:nth-child(2){
    font-size: 48px;
    font-family: "wayfinder";
    text-align: center;
}

.section_eleven_wrap_item > p{
    font-size: 18px;
}


.section_12{
    padding-top: 5rem;
}
.section_12_wrap{
    text-align: center;
}


.section_12_wrap > :first-child{
    font-family: "wayfinder";
    font-size: 64px;
}

.section_12_wrap_div2{
    background-color:#007297;
    color: white;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}


.section_12_wrap_div2 >h5{
    text-decoration: line-through;
    font-weight: 700;
    font-size: 18px;
}


.section_12_wrap_div2 >h3{
    font-weight: 700;
    font-size: 18px;
    font-size: 24px;
}

.section_12_wrap_div2 a{
    color: white;
    background-color:#f5ad2a;
    display: block;
    padding: 1rem 1rem;
    border-radius: 50px;
}

.section_12_wrap_div2 > h6{
    font-weight: 700;
    font-family: "FoundersBold";
    letter-spacing:0.3rem;
}

.section_12_wrap_div3 > img{
    margin: auto;
    display: block;
    margin-top: 3rem;
}

.section_13{
    background-color: #eeeeee;
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.section_13_wrap_flex_item{
    background-color: white;
    color: black;
}

.section_13_wrap_flex_item{
    text-align: center;
    border-radius: 0.3rem;
    padding: 1rem 1rem;
    margin-bottom: 2rem;
}



.section_13_wrap_flex_item >h1{
    font-weight: 700;
font-size: 56px;
font-family: "wayfinder";}


.section_13_wrap_flex_item >h5{
    font-size: 18px;
    font-family: "Foundersmono";
font-weight: 400;}

  .section_13_wrap  >h3{
    font-family: "FoundersBold";
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }  


  .section_13_wrap a{
      background-color: #007297;
      border-radius: 50px;
      text-align: center;
      font-weight: 700;
      margin-bottom: 2rem;
  
  }

  .section_13_wrap_2{
      margin: auto;
      text-align: center;
  }
  

  .section_13_wrap_2 img{
    width: 26rem;
}

.section_14{
    background-color: #f5ad2a;
color: white;
padding-top:3rem;
text-align: center;
color: black;

}


.section_14_wrap_2{
    background-color: white;
    color: black;
    border-radius: 0.3rem;
    padding: 2rem 2rem;
    margin: 0 1rem;
}

.section_14_wrap_1{

}

.section_14_wrap_1 >:first-child{
    font-family: "Foundersmono";
}


.section_14_wrap_1 >:nth-child(2){
    font-family: "wayfinder";
    font-size: 64px;

}

.section_14_wrap_2 >h4{
    font-weight: 700;
    font-family: "Foundersmono";
}

.section_14_wrap_2 > h5{
    text-decoration: line-through;
    font-family: "FoundersBold";
}


.section_14_wrap_2 > h3{
    font-family: "FoundersBold";
    font-size: 24px;
    font-weight: 700;
}

.section_14_wrap_2_btn {
    background-color:#f5ad2a;
    border-radius: 50px;
    border-color: #f5ad2a;
    font-weight: 700;
    text-align: center;
    padding: 1rem 2rem;

}

.section_14_wrap_Sec2{
    margin-top: 2rem;
    padding-bottom: 3rem;
}

.section_14_wrap_Sec2 > h6{
    font-size: 16px;
    font-family: "FoundersBold";
    letter-spacing:0.3em
}

.section_14_wrap_Sec2 > p{
    font-size: 14px;
    padding: 0 2rem;
}

.section_15{
    background-color: #efefef;
    padding-top: 2rem;
}

.section_15_wrap > h3{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    font-family: "FoundersBold";
    padding: 0 2rem;
}


.section_15_wrap1_drop{
    background-color: white;
    border: 2px dashed black;
    padding: 1rem 1rem;
    margin-bottom: 2rem;
}
.section_15_wrap1_drop_h5{
    display: flex;
    background-color: white;
}

.section_15_wrap1_drop_h5 >:first-child{
    display: block;
}

.section_15_wrap1_drop_h5 >:last-child{
    display: block;
}


.section_15_wrap_2{
    margin: auto;
    text-align: center;
}


.section_15_wrap_2 img{
  width: 26rem;
}

.section_15_wrap_2_A {
    background-color: #007297;
    border-radius: 50px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 2rem;
}

.section_16{
    background-color: #007297;
    color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.section_16_wrap2_item{
    background-color: white;
    color: black;
    border-radius: 5px;
    margin-bottom: 2rem;
}


.section_16_wrap2_item{
    padding: 2rem 2rem;
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    color: black;
}

.section_16_wrap1 >  h3{
    font-size: 24px;
    font-weight: 700;
    text-align: center;

}



.section_16_wrap1 >  h5{

    text-align: center;
    margin-top: 2rem;
    font-size: 24px;
    font-weight: 400;

}

.section_16_wrap3{
    text-align: center;
}

.section_16_wrap3 a{
    background-color: #f5ad2a;
    border-radius: 50px;
    font-size: 24px;
}

.section_16_wrap4{
    text-align: center;
}

.section_16_wrap4{
    margin-top: 2rem;
    
}

.section_16_wrap4 > h6{

    letter-spacing: 0.3em;
    font-family: "FoundersBold";
margin-top: 2rem;
    
}

.section_16_wrap4 > p{

font-weight: 400;    
}

.section_16_wrap3 a{
    display: block;
}

.section_16_wrap3{
    margin-bottom: 2rem;
  
}

footer{
    background-color: white;
    text-align: center;
    padding: 2rem 2rem;
}

.footer_wrap img{
    display: block;
    margin: auto;
    width: 50px;
    
}


.footer_wrap p{
   margin-top: 2rem;
    
}



.footer_wrap a{
text-decoration: none;
color: black;     
display: block;
margin-bottom: 2rem;
 }




 /* tablet */

 

@media (min-width: 768px) { 
    .section_one_wrap{
        padding-top:3rem ;
    
    }
    
    .sec_1_flex_itemTwo{
        display: block;
        flex: 6;
        margin-top: 3rem;
    
    }
    
    .sec_1_flex{
        display: flex;
        gap: 2rem;
        /* align-items: center; */
    }
    
    .sec_1_flex_itemOne{
        flex: 6;
    }
    
    .sec_1_flex_itemOne > h3{
        font-size: 2.625rem;
    }
    
    .sec_1_flex_itemOne > h3 > span{
    margin-bottom: 2rem;
    display: block;}
    
    
    
    /* section one end here */
    
    
    .section_two_wrapper{
        font-weight: 700;
        padding: 2rem 2rem;
    }
    
        .section_two_flex{
            display: flex;
            gap: 2rem;
            margin-top: 2rem;
        }
    
    
    /* section  two end here */
    
    
    .section_three_wrap >:first-child{
        font-size: 1.75rem;
    
    
    }
    
    
        div.section_two_div2 > h3{
            font-size: 2.6rem;
    
        }
        /* section_four */
    
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
        .section_four_div2 > h6{
            font-size: 1.75rem;
        }
        .section_four_flex{
            display: flex;
            gap: 1rem;
         
        }
    
        .section_four_flex_item{
            font-size: 28px;
        }
    
        .section_four_flex_item__{
            font-size: 28px;
        }
        .section_four_div2 > h3{
            font-size: 1.75rem;
            padding: 2rem 1rem;
        }
    
        .section_four_div2 > h5{
            font-size: 1.75rem;
        
        }
        
    /* section 4 end here */
    
        /* .section_five */
    
    
    .section_five_wrap_sec2 >h6{
        font-family: "Foundersmono";
        font-size: 28px;
        padding: 0 3rem;
    
    }
    
    .section_five_wrap_flex_item_2{
        display: block;
    }
    
    .section_five_wrap_flex_item{
        display: flex;
        gap: 2rem;
        align-items: center;
    }
    
    .section_five_wrap_flex_item_2{
        flex: 5;
    }
    
    .section_five_wrap_flex_item_1{
    flex: 5;
    }
    
    .section_five_wrap_flex_item_2 > img{
        width: 14.063rem;
    }
    
    .section_five_wrap_flex_item_1 >h2{
        font-size: 6rem;
    }
    .section_five_wrap_flex_item_1 >h4 :first-child{
        font-size: 2rem;
    }
    
    /* section six */
    
    .section_six_Wrap > h3{
    
        padding-right: 80px;
        padding-left: 80px;
    font-size: 42px;}
    
    /* section seven */
    
    .section_seven_wrap_1{
        flex: 7;
    }
    .section_seven_wrap_1 >:nth-child(2){
        font-size: 96px;
    }
    .section_seven_wrap_1 > h3{
        font-size: 42px;
        font-weight: 400;
    }
    .section_seven_wrap_1 >:first-child{
        font-size: 20px;
        letter-spacing: 0.3em;
    }
    .section_seven_wrap_2 >h4{
        font-size: 32px;
        font-family: "FoundersBold";
    }
    
    .section_seven_wrap_2 > p{
        font-size: 18px;
    }
    
    .section_seven_wrap_Sec2{
        padding: 3rem 5rem;
    }
    
    
    .section_seven_wrap_Sec2 >h6{
    font-size: 20px;}
    
    
    .section_seven_wrap_Sec2 >p{
        font-size: 18px;}
    
        
    
    
    
        .section_eight_wrap_sec3 > h3{
            font-size: 42px;
          
        }
        
        .section_eight_wrap_sec3 a{
     font-size: 21px;
     padding: 1rem 1rem;
        
        }
    
    .section_eight_wrap_sec1 > h3{
        font-size: 42px;
    }
    
    .section_eight_wrap_sec1 > h5{
        font-size: 28px;
    }
    
    .section_eight_wrap .row_item{
        margin-top: 3rem;
        /* height: 10rem; */
        height: 100rem;
    }
    
    
    
    /* section nine  */
    .section_nine_wrap_inner1_img{
        display: block;
        margin-bottom: 3rem;
    }
    
    .section_nine_Sec3{
        margin: auto;
        width: 50%;
    }
    
    
    
    
    .section_ten_wrap > :first-child{
        font-size: 42px;
        padding: 15px;
    
        padding-left: 5rem;
        padding-right: 5rem;
    }
    
    
    .section_ten_wrap > h5{
        font-size: 28px;
        padding: 0 3rem;
     }
    
     .section_ten_wrap_div_link{
         margin: auto;
         width: 50%;
     }
     
    
     
    .section_ten_wrap_btn{
       padding: 1rem 3rem;
    
    }
    
    
    .section_12_wrap > :first-child{
        font-size: 96px;
    }
    
    .section_12_wrap_div2{
        background-color:#007297;
        margin: auto;
        width: 60%;
    }
    
    
    .section_12_wrap{
        margin: auto;
        width: 70%;
    }
    
    .section_13_wrap_flex{
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
        margin-top: 3rem;
    
    }
    
    .section_13_wrap_flex_item{
        width: 30%;
    }
    
    .section_13_wrap  >h3{
        font-size: 50px;
        font-weight: 700;
        margin: 1rem 4rem;
      }  
      
      
    
    
      .section_13_wrap_flex_item >h5{
        font-size: 28px;
        font-family: "Foundersmono";}
    
        
      .section_13_wrap a{
    font-size: 1rem;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    
    }
    
    
    
    .section_14_wrap_1{
        flex: 7;
    }
    .section_14_wrap_1 >:nth-child(2){
        font-size: 96px;
    }
    .section_14_wrap_1 > h3{
        font-size: 42px;
        font-weight: 400;
    }
    .section_14_wrap_1 >:first-child{
        font-size: 20px;
        letter-spacing: 0.3em;
    }
    
    .section_14_wrap_2{
        margin-top: 7rem;
    }
    .section_14_wrap_2 >h4{
        font-size: 32px;
        font-family: "FoundersBold";
    }
    
    .section_14_wrap_2 > p{
        font-size: 18px;
    }
    
    .section_14_wrap_Sec2{
        padding: 3rem 5rem;
    }
    
    
    .section_14_wrap_Sec2 >h6{
    font-size: 20px;}
    
    
    .section_14_wrap_Sec2 >p{
        font-size: 18px;}
    
        .section_16_wrap2{
            display: flex;
            gap: 1rem;
        }
        
       
        .section_15_wrap1 .last{
            margin: auto;
            width: 50%;
        }
    
    
        .section_16_wrap3{
            margin-bottom: 12rem;
            width: 70%;
            margin: auto;
        }
            
       
        .section_16_wrap4 {
            margin-top: 5rem;
            margin: auto;
            width: 50%;
        }
    
    
        .footer_wrap{
            display: flex;
            justify-content: space-around;
            gap: 2rem;
            align-items: center;
        }
    
        .footer_wrap > :first-child{
            display: flex;
            gap: 1rem;
        }
    
        .footer_wrap > :last-child{
            display: flex;
            margin-top: 3rem;
            gap: 1rem;
        }
        
    }
    

    
    /* laptop */

      

@media (min-width: 992px) { 

    .sec_1_flex_itemOne{
        text-align: left;
    }
    .section_two_div2{
        margin: 0 5rem;
    }
    
    .section_three_wrap{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    
    .section_three_wrap >:nth-child(2){
        padding-left: 3rem;
        padding-right: 3rem;
    }
    
    
    .section_seven_wrap_1 > h3{
    font-family: "Foundersmono";
    font-size: 18px;
    font-weight: 700;
    }
    
    .section_seven_wrap_1 > p{
        font-size: 14px;
        }


        /* section .section_eight_wrap */

        .section_eight_wrap .row_item{
            height: 80rem;
        }


         
.section_ten_wrap_btn{

    font-size: 21px;
    font-weight: 700;
 }

 .section_13_wrap  >h3{

    margin: 1rem 6rem;
    font-size: 70px;
  }  

 
        
    
     }
